@{ 
    @Model;
}
<h2>Szczególy stacji roboczej</h2>

<div>
    
        
        {
            <h2>General Information</h2>
            <ul>
                <li><span>Computer name</span> <span>@Model.ComputerName</span></li>
                <li><span>Operating System</span> <span>@Model.OsVersion</span></li>
                <li><span>Service Pack</span> <span>@Model.ServicePack</span></li>
                <li><span>User name</span> <span>@Model.UserName</span></li>
                <li><span>Architecture</span> <span>@Model.Is64</span></li>
                <li><span>Startup time</span> <span>@Model.TickCount</span></li>
                <li><span>Domain</span> <span>@Model.UserDomain</span></li>
            </ul>

            <h2>CPU unit</h2>
            <ul>
                <li>Procesor @Model._cpu.CPUName</li>
                <li>Bus Speed @Model._cpu.BusSpeed</li>
                    @*@foreach (var cpu in @item._cpu)
                    {
                        <li></li>
                    }*@
                

            </ul>
        }
            
</div>
